@page
@model LaUnionCCPJ3.Pages.ActivityModel
@{
}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Kate Dillon (Development) &#8211; Alliance</title>
    <link rel='stylesheet' href='js/vendor/bp/bbpress.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/bp.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/tocstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_buttonstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_manage_subs_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_whats_new_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/cptstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
</head>

<body class="activity bp-user my-activity just-me buddypress bbp-user-page single singular bbpress page page-id-0 page-parent body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">

    <div class="body_wrap">
        <div class="page_content_wrap">
            <div class="content_wrap">
                <div class="content">
                    <article class="bp_members type-bp_members post_item post_item_single post_featured_left post_format_standard post-0 page hentry">
                        <h2 class="post_title entry-title">Actividades</h2>
                        <section class="post_content">
                            <div id="buddypress">
                              
                                @*<div id="item-nav">
                                    <div class="item-list-tabs no-ajax" id="object-nav" role="navigation">
                                        <ul>
                                            <li id="activity-personal-li" class="current selected">
                                                <a id="user-activity" href="activity.html">Activity</a>
                                            </li>
                                            <li id="groups-personal-li">
                                                <a id="user-groups" href="groups.html">Groups <span class="count">1</span></a>
                                            </li>
                                            <li id="buddydrive-personal-li">
                                                <a id="user-buddydrive" href="development.html">BuddyDrive</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>*@
                                <div id="item-body">
                                    <div class="activity">
                                        <ul id="activity-stream" class="activity-list item-list">
                                            <form class="jobs_search_form" action="">
                                                <input type="text" class="form-control search-slt" placeholder="Actividad">
                                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                    <option>Distrito</option>
                                                    <option>Río Azul</option>
                                                    <option>San Diego</option>
                                                    <option>San Juan</option>
                                                    <option>San Ramón</option>
                                                    <option>Tres Ríos</option>
                                                </select>
                                                <input type="submit" value="Buscar" class="btn btn-danger wrn-btn">
                                            </form>
                                            <li class="blogs new_blog_post activity-item" id="activity-69">
                                                <div class="activity-avatar">
                                                    @*Imagen de perfil de quien publico la actividad*@
                                                    <a href="activity.html">
                                                        <img src="images/2000x2000.png" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="" />
                                                    </a>
                                                </div>
                                                <div class="activity-content">
                                                    <div class="activity-header">
                                                        <p>
                                                            <a href="ceo" title="Andres" font size="7">Andres</a> nueva actividad,
                                                            <a href="masonry.html">Recaudaciones de fondos</a> , San Juan...
                                                            <a href="masonry.html" class="view activity-time-since" title="View Discussion">
                                                                <span class="time-since">hace 25 min</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    @*Descripcion*@
                                                    <div class="activity-inner">
                                                        <p>La fecha 8/13/2021 vamos a recaudar alimentos enlatados para los afectados por las lluvias en Turrialba</p>
                                                    </div>
                                                    @*image de la actividad*@
                                                    <div class="activity-inner">
                                                        <p>
                                                            <img src="images/fondos.jpg" />
                                                        </p>
                                                    </div>

                                                    <div class="activity-inner">
                                                        <blockquote>
                                                            <p>Usuario: Corey Taylor<br />Yo puedo donar, pero no puedo salir por una dolencia. Si vienen por el con mucho gusto puedo donar</p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="activity-meta"></div>
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-lg">Editar</button>
                                                        <button type="button" class="btn btn-secondary btn-lg">Borrar</button>
                                                    </div>
                                                </div>

                                            </li>
                                            <li class="blogs new_blog_post activity-item" id="activity-69">
                                                <div class="activity-avatar">
                                                    @*Imagen de perfil de quien publico la actividad*@
                                                    <a href="activity.html">
                                                        <img src="images/2000x2000.png" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="" />
                                                    </a>
                                                </div>
                                                <div class="activity-content">
                                                    <div class="activity-header">
                                                        <p>
                                                            <a href="ceo" title="Andres" font size="7">Andres</a> nueva actividad,
                                                            <a href="masonry.html">Vacunacion</a> , Tres Ríos...
                                                            <a href="masonry.html" class="view activity-time-since" title="View Discussion">
                                                                <span class="time-since">hace 1 semana</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    @*Descripcion*@
                                                    <div class="activity-inner">
                                                        <p>El seguro social de la Union que la primera semana de Agosto se estara vacunando a las personas de 15 años en adelante para los que son del distrito Tres Ríos, San Rafael y San Juan</p>
                                                    </div>
                                                    @*image de la actividad*@
                                                    <div class="activity-inner">
                                                        <p>
                                                            <img src="images/covid.jpg" />
                                                        </p>
                                                    </div>



                                                    <div class="activity-inner">
                                                        <blockquote>
                                                            <p>Usuario: Corey Taylor<br />Yo puedo donar, pero no puedo salir por una dolencia. Si vienen por el con mucho gusto puedo donar</p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="activity-meta"></div>
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-lg">Editar</button>
                                                        <button type="button" class="btn btn-secondary btn-lg">Borrar</button>
                                                    </div>
                                                </div>

                                            </li>
                                            <li class="blogs new_blog_post activity-item" id="activity-69">
                                                <div class="activity-avatar">
                                                    @*Imagen de perfil de quien publico la actividad*@
                                                    <a href="activity.html">
                                                        <img src="images/2000x2000.png" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="" />
                                                    </a>
                                                </div>
                                                <div class="activity-content">
                                                    <div class="activity-header">
                                                        <p>
                                                            <a href="ceo" title="Andres" font size="7">Andres</a> nueva actividad, Pruebas de Futbol , Tres Ríos...
                                                            <a href="masonry.html" class="view activity-time-since" title="View Discussion">
                                                                <span class="time-since">hace 1 mes</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    @*Descripcion*@
                                                    <div class="activity-inner">
                                                        <p>La Union Juventud Deportiva se complace en anunciar que se realizaran pruebas para el equipo profesional de tercera division del Canton de la Union. Los interesados acercarse a la plaza La Chizeta Rojas y confirmar asistencia al numero 8888-8888. Por favor llevar la indumentaria</p>
                                                    </div>
                                                    @*image de la actividad*@
                                                    <div class="activity-inner">
                                                        <p>
                                                            <img src="images/futbol.jpg" />
                                                        </p>
                                                    </div>

                                                    <div class="activity-inner">
                                                        <blockquote>
                                                            <p>Usuario: Juan Perez<br />Perfecto, ahi estare</p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="activity-meta"></div>
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-lg">Editar</button>
                                                        <button type="button" class="btn btn-secondary btn-lg">Borrar</button>
                                                    </div>
                                                </div>

                                            </li>     
                                            <li class="load-more">
                                                <a href="#">Load More</a>
                                            </li>
                                        </ul>
                                        <form action="" name="activity-loop-form" id="activity-loop-form" method="post">
                                            <input type="hidden" id="_wpnonce_activity_filter" name="_wpnonce_activity_filter" value="ca9af84ee0" />
                                            <input type="hidden" name="_wp_http_referer" value="/members/admin/" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                    <section class="related_wrap related_wrap_empty"></section>
                </div>
            </div>
        </div>
        <div class="copyright_wrap">
            <div class="content_wrap">
                <p>
                    © 2021 All Rights Reserved.
                    <a href="#">Terms of use</a> and
                    <a href="#">Privacy Policy</a>
                </p>
            </div>
        </div>
        <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
    </div>


    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/vendor/bp/confirm.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/widget-members.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-query.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-cookie.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-scroll-to.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/buddypress.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/bps_button.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/editor.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/social-share.min.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>

</body>

</html>