@page
@model LaUnionCCPJ3.Pages.CeoModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>CEO &#8211; Alliance</title>
    <link rel='stylesheet' href='js/vendor/timeline/timeline.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/timeline/jquery.mCustomScrollbar.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/timeline/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/timeline/themify-icons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/mediaelement/mediaelement.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/comp/comp.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/time-inline.css' type='text/css' media='all' />
</head>

<body class="page ceopg body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">
    <div class="body_wrap">
            <div class="page_top_wrap page_top_title page_top_breadcrumbs">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <span class="breadcrumbs_item current">CEO</span>
                    </div>
                    <h5 class="page_title">
                        <span class="page_icon icon-23"></span>CEO
                    </h5>
                </div>
            </div>
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard page hentry">
                            <section class="post_content">
                                <div class="sc_reviews alignright">
                                </div>
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="sc_section ceo aligninherit cublock7">
                                                    <div class="sc_section_overlay pd27">
                                                        <div class="sc_section_content">
                                                            <a name="target-toc-0"></a>
                                                            <h5 class="sc_title sc_title_regular fst8">Biografia</h5>
                                                            <div class="sc_chat mgcu10">
                                                                <div class="sc_chat_inner">
                                                                    <div class="sc_chat_avatar">
                                                                        <img alt="" src="images/2000x2000.png">
                                                                    </div>
                                                                    <div class="sc_chat_title">Andres</div>
                                                                    <div class="sc_chat_content">
                                                                        <p>
                                                                            Presiedente del comite CCPJ <br />
                                                                            Comite Cantol de la persona joven del canton de la Union
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="sc_icon icon-envelope32 sc_icon_bg_custom alignleft fst18"></span>
                                                            <p class="sc_text fst19">
                                                                Email:
                                                                <a href="#">andres@ccpj.com</a>
                                                            </p>
                                                            <span class="sc_icon icon-call10 sc_icon_bg_custom alignleft fst18"></span>
                                                            <p class="sc_text fst20">Celular: 87240845</p>
                                                            <a href="single-post.html#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_big bt8">Cita</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_section ceo aligninherit cublock8">
                                                    <div class="sc_section_overlay">
                                                        <div class="sc_section_content">
                                                            <div class="sc_video_player">
                                                                <div class="sc_video_frame sc_video_play_button hover_icon icon-play" data-width="599" data-height="337" data-video="&lt;iframe class=&quot;video_frame&quot; src=&quot;https://player.vimeo.com/video/209540568?autoplay=1&quot; width=&quot;599&quot; height=&quot;337&quot; frameborder=&quot;0&quot; webkitAllowFullScreen=&quot;webkitAllowFullScreen&quot; mozallowfullscreen=&quot;mozallowfullscreen&quot; allowFullScreen=&quot;allowFullScreen&quot;&gt;&lt;/iframe&gt;">
                                                                    <img alt="" src="images/CRC.png">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_section mgcu13">
                                                    <div id="tl1" class="timeline flatLine flatNav flatButton">
                                                        <div class="item" data-id="11/04/2020" data-description="Lorem ispum dolor">
                                                            <a class="con_borderImage">
                                                                <img src="images/clubunionayeryhoy.png" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                11
                                                                <span>APR</span>
                                                            </div>
                                                            <a name="target-toc-1"></a>
                                                            <h2>Lorem ispum dolor</h2>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="11/04/2020" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="item" data-id="16/04/2020" data-description="Excepteur sint occaecat">
                                                            <a class="con_borderImage">
                                                                <img src="images/clubunionayeryhoy.jpg" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                16
                                                                <span>APR</span>
                                                            </div>
                                                            <a name="target-toc-2"></a>
                                                            <h2>Excepteur sint occaecat</h2>
                                                            <span>Excepteur sint occaecat cupidatat non proident, suntculpa qui officia deserunt.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="16/04/2020" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="item" data-id="23/04/2020" data-description="Ut enim ad minim veniam">
                                                            <a class="con_borderImage">
                                                                <img src="images/2000x2000.png" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                23
                                                                <span>APR</span>
                                                            </div>
                                                            <a name="target-toc-3"></a>
                                                            <h2>Ut enim ad minim veniam</h2>
                                                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="23/04/2020" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="item" data-id="07/05/2020" data-description="Duis aute irure dolor">
                                                            <a class="con_borderImage">
                                                                <img src="images/2000x2000.png" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                07
                                                                <span>MAY</span>
                                                            </div>
                                                            <a name="target-toc-4"></a>
                                                            <h2>Duis aute irure dolor</h2>
                                                            <span>Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="07/05/2020" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="item" data-id="18/05/2020" data-description="Consectetur adipisicing">
                                                            <a class="con_borderImage">
                                                                <img src="images/2000x2000.png" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                18
                                                                <span>MAY</span>
                                                            </div>
                                                            <a name="target-toc-5"></a>
                                                            <h2>Consectetur adipisicing</h2>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="18/05/2020" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="item" data-id="27/05/2020" data-description="Cupidatat non proident">
                                                            <a class="con_borderImage">
                                                                <img src="images/2000x2000.png" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                27
                                                                <span>MAY</span>
                                                            </div>
                                                            <a name="target-toc-6"></a>
                                                            <h2>Cupidatat non proident</h2>
                                                            <span>Excepteur sint occaecat non proident, sunt in culpa qui officia deserunt mollit anim.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="27/05/2020" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="item" data-id="02/06/2020" data-description="Laboris nisi ut aliquip">
                                                            <a class="con_borderImage">
                                                                <img src="images/2000x2000.png" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                02
                                                                <span>JUN</span>
                                                            </div>
                                                            <a name="target-toc-7"></a>
                                                            <h2>Laboris nisi ut aliquip</h2>
                                                            <span>Ut enim ad minim veniam, quis nostrud exercitation laboris nisi ut aliquip ex ea.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="02/06/2015" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="item" data-id="15/06/2020" data-description="Reprehenderit in voluptate">
                                                            <a class="con_borderImage">
                                                                <img src="images/2000x2000.png" alt="" />
                                                            </a>
                                                            <div class="post_date">
                                                                15
                                                                <span>JUN</span>
                                                            </div>
                                                            <a name="target-toc-8"></a>
                                                            <h2>Reprehenderit in voluptate</h2>
                                                            <span>Duis aute irure dolor in reprehenderit in voluptate velit dolore eu fugiat nulla.</span>
                                                            <a class="read_more" href="post-formats.html">Read more</a>
                                                        </div>
                                                        <div class="item_open" data-id="15/06/2020" data-access="#">
                                                            <div class="item_open_content">
                                                                <img class="ajaxloader" src="images/loadingAnimation.gif" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_section ceo aligninherit cublock7">
                                                    <div class="sc_section_overlay pd27">
                                                        <div class="sc_section_content">
                                                            <a name="target-toc-9"></a>
                                                            <h5 class="sc_title sc_title_regular fst8">Honors &#038; Awards</h5>
                                                            <a name="target-toc-10"></a>
                                                            <h6 class="sc_title sc_title_iconed">
                                                                <span class="sc_title_icon sc_title_icon_left  sc_title_icon_small icon-record-1"></span>Donec scelerisque metus condimentum.
                                                            </h6>
                                                            <p class="sc_text mgcu11">Pellentesque aliquet sapien vitae erat gravida volutpat.</p>
                                                            <a name="target-toc-11"></a>
                                                            <h6 class="sc_title sc_title_iconed">
                                                                <span class="sc_title_icon sc_title_icon_left  sc_title_icon_small icon-record-1"></span>A Simple Plan to Fix Our Economy.
                                                            </h6>
                                                            <p class="sc_text mgcu11">
                                                                Duis sed dui enim. Curabitur mi dui, accumsan eget lobortis nec.
                                                                <br /> Aliquam lorem ex, sodales at euismod eget, ullamcorper.
                                                            </p>
                                                            <a name="target-toc-12"></a>
                                                            <h6 class="sc_title sc_title_iconed">
                                                                <span class="sc_title_icon sc_title_icon_left sc_title_icon_small icon-record-1"></span>Donec scelerisque metus condimentum.
                                                            </h6>
                                                            <p class="sc_text mgcu12">Pellentesque aliquet sapien vitae erat gravida volutpat.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_section ceo aligninherit cublock10">
                                                    <div class="sc_section_overlay pd27">
                                                        <div class="sc_section_content">
                                                            <a name="target-toc-13"></a>
                                                            <h5 class="sc_title sc_title_regular fst21">Statistics</h5>
                                                            <div class="tw-chart-graph tw-animate tw-redraw with-list-desc w550p" data-zero="false" data-labels="Label 1, Label 2, Label 3, Label 4, Label 5, " data-type="Curve" data-item-height="184" data-animation-delay="0" data-animation-offset="90%">
                                                                <ul class="data hideblock">
                                                                    <li data-datas="69, 68, 70, 68, 69, 69" data-fill-color="#89e1ee" data-fill-text="2013"></li>
                                                                    <li data-datas="66, 67, 67, 66, 67, 67" data-fill-color="#5cbece" data-fill-text="2014"></li>
                                                                    <li data-datas="63, 65, 66, 65, 64, 65" data-fill-color="#34aabe" data-fill-text="2015"></li>
                                                                </ul>
                                                                <canvas></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2017 All Rights Reserved.
                        <a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
   

    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/timeline/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='js/vendor/timeline/jquery.timeline.js'></script>
    <script type='text/javascript' src='js/vendor/timeline/jquery.mousewheel.min.js'></script>
    <script type='text/javascript' src='js/vendor/timeline/jquery.mCustomScrollbar.min.js'></script>
    <script type='text/javascript' src='js/vendor/timeline/rollover.js'></script>
    <script type='text/javascript' src='js/vendor/prettyPhoto/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/vendor/mediaelement/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='js/vendor/mediaelement/mediaelement.min.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/comp/comp_front.min.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chart.min.js'></script>
    <script type='text/javascript' src='js/vendor/chart/Graph.js'></script>

</body>

</html>