@page
@model LaUnionCCPJ3.Pages.ForumsModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Forums &#8211; Alliance</title>
    <link rel='stylesheet' href='js/vendor/bp/bbpress.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/tocstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_buttonstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_manage_subs_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_whats_new_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/cptstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
</head>

<body class="forum-archive bbpress archive post-type-archive post-type-archive-forum body_style_wide body_filled article_style_stretch layout_excerpt template_excerpt top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">

    <div class="body_wrap">
   
            
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard forum type-forum hentry">
                            <h2 class="post_title entry-title">Foros</h2>
                            <section class="post_content">
                                <div id="bbpress-forums">
                                    <div class="bbp-search-form">
                                        <form role="search" method="get" id="bbp-search-form" action="#">
                                            <div>
                                                <label class="screen-reader-text hidden" for="bbp_search">Buscar</label>
                                                <input type="hidden" name="action" value="bbp-search-request" />
                                                <input tabindex="101" type="text" value="" name="bbp_search" id="bbp_search" />
                                                <input tabindex="102" class="button" type="submit" id="bbp_search_submit" value="Buscar" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bbp-breadcrumb">
                                        <p>
                                            <a href="index.html" class="bbp-breadcrumb-home">Inicio</a>
                                            <span class="bbp-breadcrumb-sep"> › </span>
                                            <span class="bbp-breadcrumb-current">Foros</span>
                                        </p>
                                    </div>
                                    <ul id="forums-list-0" class="bbp-forums">
                                        <li class="bbp-header">
                                            <ul class="forum-titles">
                                                <li class="bbp-forum-info">Foros</li>
                                                <li class="bbp-forum-topic-count"> </li>
                                                <li class="bbp-forum-reply-count">Publicaciones</li>
                                                <li class="bbp-forum-freshness">Recientes</li>
                                            </ul>
                                        </li>
                                        <li class="bbp-body">
                                            <ul id="bbp-forum-1725" class="loop-item-0 bbp-forum-status-open bbp-forum-visibility-publish forum type-forum hentry">
                                                <li class="bbp-forum-info">
                                                    <a class="bbp-forum-title" href="single-post">Charla Manejo de emociones</a>
                                                    <div class="bbp-forum-content">
                                                        Seccion para poder compartir consejos de como manejar las emociones
                                                    </div>
                                                </li>
                                                <li class="bbp-forum-topic-count"></li>
                                                <li class="bbp-forum-reply-count">3</li>
                                                <li class="bbp-forum-freshness">
                                    
                                                    <p class="bbp-topic-meta">
                                                        <span class="bbp-topic-freshness-author">
                                                            David Fallas
                                                        </span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <ul id="bbp-forum-854" class="loop-item-1 even bbp-forum-status-open bbp-forum-visibility-publish post-854 forum type-forum hentry">
                                                <li class="bbp-forum-info">
                                                    <a class="bbp-forum-title" href="single-post1">Noticias la Union</a>
                                                    <div class="bbp-forum-content">Seccion para poder comentar las noticias de la Union</div>
                                                </li>
                                                <li class="bbp-forum-topic-count"></li>
                                                <li class="bbp-forum-reply-count">3</li>
                                                <li class="bbp-forum-freshness">
                                                    @*<a href="single-post" title="Reply To: Business Growth: Sed vel tempus libero.">Hace 2 meses</a>*@
                                                    <p class="bbp-topic-meta">
                                                       
                                                        <span class="bbp-topic-freshness-author">
                                                            David Fallas
                                                        </span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <ul id="bbp-forum-1723" class="loop-item-2 bbp-forum-status-open bbp-forum-visibility-publish post-1723 forum type-forum hentry">
                                                <li class="bbp-forum-info">
                                                    <a class="bbp-forum-title" href="single-post2">Actividades en la Union</a>
                                                    <div class="bbp-forum-content">Seccion para poder dar una retroalimentacion de las actividades de la Union</div>
                                                </li>
                                                <li class="bbp-forum-topic-count"></li>
                                                <li class="bbp-forum-reply-count">3</li>
                                                <li class="bbp-forum-freshness">
  
                                                    <p class="bbp-topic-meta">
                                                        <span class="bbp-topic-freshness-author">
                                                            David Fallas
                                                        </span>
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="bbp-footer">
                                            <div class="tr">
                                                <p class="td colspan4">&nbsp;</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2021 Todos los Derechos Reservados.
                        @*<a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>*@
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
  

    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/vendor/bp/confirm.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/widget-members.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-query.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-cookie.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-scroll-to.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/buddypress.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/bps_button.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/editor.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>

</body>

</html>