@page
@model LaUnionCCPJ3.Pages.GroupsModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Groups &#8211; Kate Dillon (Development) &#8211; Alliance</title>
    <link rel='stylesheet' href='js/vendor/bp/bbpress.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/bp.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/tocstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_buttonstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_manage_subs_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_whats_new_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/cptstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
</head>

<body class="groups bp-user my-groups buddypress bbp-user-page single singular bbpress page page-parent body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">

    <div class="body_wrap">
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="bp_members type-bp_members post_item post_item_single post_featured_left post_format_standard page hentry">
                            <h2 class="post_title entry-title">Kate Dillon (Development)</h2>
                            <section class="post_content">
                                <div id="buddypress">
                                    <div id="item-header" role="complementary">
                                        <div id="cover-image-container">
                                            <a id="header-cover-image" href="activity.html"></a>
                                            <div id="item-header-cover-image">
                                                <div id="item-header-avatar">
                                                    <a href="activity.html">
                                                        <img src="images/2000x2000.png" class="avatar user-1-avatar avatar-150 photo" width="150" height="150" alt="Profile picture of Kate Dillon (Development)" />
                                                    </a>
                                                </div>
                                                <div id="item-header-content">
                                                    <a name="target-toc-0"></a>
                                                   @* <h2 class="user-nicename">@admin</h2>*@
                                                    <div id="item-buttons"></div>
                                                    <span class="activity">active 3 days, 18 hours ago</span>
                                                    <div id="item-meta">
                                                        <div id="latest-update">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="item-nav">
                                        <div class="item-list-tabs no-ajax" id="object-nav" role="navigation">
                                            <ul>
                                                <li id="activity-personal-li">
                                                    <a id="user-activity" href="activity.html">Activity</a>
                                                </li>
                                                <li id="groups-personal-li" class="current selected">
                                                    <a id="user-groups" href="groups.html">
                                                        Groups
                                                        <span class="count">1</span>
                                                    </a>
                                                </li>
                                                <li id="buddydrive-personal-li">
                                                    <a id="user-buddydrive" href="development.html">BuddyDrive</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="item-body">
                                        <div class="groups mygroups">
                                            <div id="pag-top" class="pagination">
                                                <div class="pag-count" id="group-dir-count-top">Viewing 1 group</div>
                                                <div class="pagination-links" id="group-dir-pag-top"></div>
                                            </div>
                                            <ul id="groups-list" class="item-list">
                                                <li class="bp-single-group public group-has-avatar">
                                                    <div class="item-avatar">
                                                        <a href="development.html">
                                                            <img src="images/mystery-group-50.png" class="avatar group-1-avatar avatar-50 photo" width="50" height="50" alt="Group logo of Development" title="Development" />
                                                        </a>
                                                    </div>
                                                    <div class="item">
                                                        <div class="item-title">
                                                            <a href="development.html">Development</a>
                                                        </div>
                                                        <div class="item-meta">
                                                            <span class="activity">active 9 months ago</span>
                                                        </div>
                                                        <div class="item-desc">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea [&hellip;]
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <div class="meta">Public Group / 5 members</div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </li>
                                            </ul>
                                            <div id="pag-bottom" class="pagination">
                                                <div class="pag-count" id="group-dir-count-bottom">Viewing 1 group</div>
                                                <div class="pagination-links" id="group-dir-pag-bottom"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2017 All Rights Reserved.
                        <a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
 

    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/vendor/bp/confirm.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/widget-members.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-query.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-cookie.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-scroll-to.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/buddypress.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/bps_button.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/editor.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/social-share.min.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>

</body>

</html>