@page
@model LaUnionCCPJ3.Pages.LeadersModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Team Leaders &#8211; Alliance</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/comp/comp.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
</head>

<body class="page leaderspg body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">
    <div class="body_wrap">
            <div class="page_top_wrap page_top_title page_top_breadcrumbs">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <span class="breadcrumbs_item current">Team Leaders</span>
                    </div>
                    <h5 class="page_title">
                        <span class="page_icon icon-23"></span>Team Leaders
                    </h5>
                </div>
            </div>
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard page hentry">
                            <section class="post_content">
                                <div class="sc_reviews alignright">
                                </div>
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="sc_section team_leaders aligninherit cublock7">
                                                    <div class="sc_section_overlay pd40">
                                                        <div class="sc_section_content">
                                                            <blockquote class="sc_quote sc_quote_style_2">
                                                                <p>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</p>
                                                                <p class="sc_quote_title">- Steve Jobs</p>
                                                            </blockquote>
                                                            <div class="sc_socials sc_socials_size_small mgcu14">
                                                                <div class="sc_socials_item">
                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                </div>
                                                                <div class="sc_socials_item">
                                                                    <a href="#" target="_blank" class="social_icons social_pinterest"></a>
                                                                </div>
                                                                <div class="sc_socials_item">
                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                </div>
                                                                <div class="sc_socials_item">
                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_section team_leaders aligninherit cublock11">
                                                    <div class="sc_section_overlay pd15">
                                                        <div class="sc_section_content"></div>
                                                    </div>
                                                </div>
                                                <h5 class="sc_title sc_title_regular fst6">Our Team Leaders</h5>
                                                <div class="sc_team sc_team_style_2">
                                                    <div class="sc_columns columns_wrap">
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_1">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Cathy Morales</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Ceo</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_2">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Neil Hughes</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Finance Director</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_3">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Scott Mason</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Marketing Director</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_4">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Justin Stevens</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Director of Operations</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_5">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Mark Tucker</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">General Manager</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_6">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Stacy Lewis</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Manager</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_7">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Darren Bowman</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Assistant Manager</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_8">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Tina Robertson</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Sales Manager</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_9">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Tracey Torres</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">QA Manager</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_10">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Roland Hunter</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Project Manager</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_11">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Justin Newman</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Supervisor</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_4">
                                                            <div class="sc_team_item sc_team_item_12">
                                                                <div class="sc_team_item_avatar">
                                                                    <img alt="" src="images/2000x2000.png">
                                                                    <div class="sc_team_item_hover">
                                                                        <div class="sc_team_item_socials">
                                                                            <div class="sc_socials sc_socials_size_small">
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                                                                </div>
                                                                                <div class="sc_socials_item">
                                                                                    <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_team_item_info">
                                                                    <div class="sc_team_item_email_button icon-mail-3"></div>
                                                                    <div class="sc_team_item_email">user@mail.com</div>
                                                                    <h6 class="sc_team_item_title">
                                                                        <a href="single-team.html">Danielle Miller</a>
                                                                    </h6>
                                                                    <div class="sc_team_item_position">Team Leader</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2017 All Rights Reserved.
                        <a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
   
    <div class="custom_html_section"></div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/comp/comp_front.min.js'></script>

</body>

</html>