@page
@model LaUnionCCPJ3.Pages.Members1Model
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />

    <link rel='stylesheet' href='js/vendor/bp/bbpress.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/bp.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/tocstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_buttonstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_manage_subs_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_whats_new_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/cptstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
</head>

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Members &#8211; Alliance</title>
    <link rel='stylesheet' href='js/vendor/bp/bbpress.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/tocstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_buttonstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_manage_subs_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_whats_new_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/cptstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />

    <link rel='canonical' href='members' />
</head>

<body class="directory members  buddypress page page-parent body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">

    <div class="body_wrap">
        <div class="page_content_wrap">
            <div class="content_wrap">
                <div class="content">
                    <article class="post_item post_item_single post_featured_left post_format_standard post-0 page hentry">
                        <h2 class="post_title entry-title">Miembros</h2>
                        <section class="post_content">
                            <div id="buddypress">
                                <div id="members-dir-search" class="dir-search" role="search">
                                    <form action="" method="get" id="search-members-form">
                                        <label for="members_search">
                                            <input type="text" name="members_search" id="members_search" placeholder="Search Members..." />
                                        </label>
                                        <input type="submit" id="members_search_submit" name="members_search_submit" value="Search" />
                                    </form>
                                </div>
                                <form action="" method="post" id="members-directory-form" class="dir-form">
                                    <div class="item-list-tabs" role="navigation">
                                        <ul>
                                            <li class="selected" id="members-all">
                                                <a href="members.html">
                                                    Todo los miembros
                                                    <span>3</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item-list-tabs" id="subnav" role="navigation">
                                        <ul>
                                            <li id="members-order-select" class="last filter">
                                                <label for="members-order-by">Ordenado por: </label>
                                                <select id="members-order-by">
                                                    <option value="active">Ultimo Activo</option>
                                                    <option value="newest">Ulitmo Registrado</option>
                                                    <option value="alphabetical">Alfabeticamente</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="members-dir-list" class="members dir-list">
                                        <div id="pag-top" class="pagination">
                                            <div class="pag-count" id="member-dir-count-top">Viendo 1 - 3 de 3 miembro activo</div>
                                        </div>
                                        <ul id="members-list" class="item-list">
                                            <li class="odd">
                                                <div class="item-avatar">
                                                    <a href="activity.html">
                                                        <img src="images/Alejandro.jpg" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="" />
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="activity.html">Alejandro Alfaro</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">activo hace 3 dias y 18</span>
                                                    </div>
                                                </div>
                                                <div class="action">
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="odd">
                                                <div class="item-avatar">
                                                    <a href="marketing.html">
                                                        <img src="images/David.jpg" class="avatar user-4-avatar avatar-50 photo" width="50" height="50" alt="">
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="marketing.html">David Fallas</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">activo hace 1 año</span>
                                                    </div>
                                                </div>
                                                <div class="action"></div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="even">
                                                <div class="item-avatar">
                                                    <a href="accounting.html">
                                                        <img src="images/Max.jpg" class="avatar user-3-avatar avatar-50 photo" width="50" height="50" alt="">
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="accounting.html">Connor McGregor</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">activo hace 1 año</span>
                                                    </div>
                                                </div>
                                                <div class="action"></div>
                                                <div class="clear"></div>
                                            </li>
                              
                                            
                                        </ul>
                                        <div id="pag-bottom" class="pagination">
                                            <div class="pag-count" id="member-dir-count-bottom">Viendo 1 - 3 de 3 miembro activo</div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="_wpnonce-member-filter" name="_wpnonce-member-filter" value="028ae3d62b" />
                                    <input type="hidden" name="_wp_http_referer" value="/members/" />
                                </form>
                            </div>
                        </section>
                    </article>
                    <section class="related_wrap related_wrap_empty"></section>
                </div>
            </div>
        </div>
        <div class="copyright_wrap">
            <div class="content_wrap">
                <p>
                    © 2021 All Rights Reserved.
                    <a href="#">Terms of use</a> and
                    <a href="#">Privacy Policy</a>
                </p>
            </div>
        </div>
        <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
    </div>


    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/vendor/bp/confirm.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/widget-members.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-query.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-cookie.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-scroll-to.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/buddypress.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/bps_button.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/editor.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/social-share.min.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>

</body>

</html>
