@page
@model LaUnionCCPJ3.Pages.ResumesModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Resume Examples &#8211; Alliance</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/comp/comp.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
</head>

<body class="page resumespg body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_show sidebar_right responsive_menu vc_responsive no-js">

    <div class="body_wrap">
   
            <div class="page_top_wrap page_top_title page_top_breadcrumbs">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <span class="breadcrumbs_item current">Resume Examples</span>
                    </div>
                    <h5 class="page_title">
                        <span class="page_icon icon-1"></span>Resume Examples
                    </h5>
                </div>
            </div>
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard page hentry">
                            <section class="post_content">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="sc_section bg2">
                                                    <div class="sc_section_overlay pd40">
                                                        <div class="sc_section_content">
                                                            <a name="target-toc-0"></a>
                                                            <h5 class="sc_title sc_title_regular fst8">Student &#038; Entry Level Resume Examples</h5>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-1"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Business School Admissions:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">Resume example for a business school applicant.</p>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-2"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">First Job Resume Example:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">Sample resume to use when applying to your first job.</p>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-3"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Student Resume Example:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">No professional job experience? Use this resume sample.</p>
                                                            <div class="sc_line sc_line_style_solid cublock19"></div>
                                                            <a name="target-toc-4"></a>
                                                            <h5 class="sc_title sc_title_regular fst8">Business Management Resume Examples</h5>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-5"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Account Manager Resume Sample:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">Resume layout example for an Account Manager</p>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-6"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Business Resume:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">General resume layout that can be used for any professional position</p>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-7"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Human Resources (HR) Resume:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">Goes without saying, in this field you need a killer </p>
                                                            <div class="sc_line sc_line_style_solid cublock19"></div>
                                                            <a name="target-toc-8"></a>
                                                            <h5 class="sc_title sc_title_regular fst8">Sales &#038; Marketing Professional Resume Examples</h5>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-9"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Client Services Resume Example:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">Use this CSM example to write your resume</p>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-10"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Marketing Manager Resume:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">Applying for a Marketing Manager position? Use this resume</p>
                                                            <span class="sc_icon icon-file16 sc_icon_bg_custom alignleft cublock13"></span>
                                                            <a name="target-toc-11"></a>
                                                            <h6 class="sc_title sc_title_regular mgcu20">
                                                                <a href="images/exex11.pdf" target="_blank">Sales Resume Example:</a>
                                                            </h6>
                                                            <p class="sc_text mgcu21">In sales? Get your resume formatted so it stands out</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                    <div class="sidebar widget_area bg_tint_light sidebar_style_light" role="complementary">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <aside class="widget widget_subcategories">
                            <h5 class="widget_title">Categories</h5>
                            <div class="widget_subcategories_inner">
                                <ul>
                                    <li class="cat-item">
                                        <a href="#">3d &amp; motion graphics</a> (2)
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Code</a> (4)
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Design &amp; Illustration</a> (3)
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Game development</a> (2)
                                    </li>
                                    <li class="cat-item">
                                        <a href="masonry.html">Masonry</a> (9)
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">News</a> (8)
                                    </li>
                                    <li class="cat-item">
                                        <a href="post-formats.html">Post formats</a> (9)
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Uncategorized</a> (10)
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Video</a> (3)
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Web design</a> (2)
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <aside class="widget widget_recent_comments">
                            <h5 class="widget_title">Recent Comments</h5>
                            <ul id="recentcomments">
                                <li class="recentcomments">
                                    <span class="comment-author-link">Kate Dillon (Development)</span> on
                                    <a href="single-post.html#">Calendar</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Kate Dillon (Development)</span> on
                                    <a href="single-post.html#">Calendar</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Jack</span> on
                                    <a href="single-post.html#">Calendar</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Alice</span> on
                                    <a href="single-post.html#">Calendar</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Kate Dillon (Development)</span> on
                                    <a href="single-post.html">Character Design &#038; Animation for Games</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Mike Newton (Human Resources)</span> on
                                    <a href="single-post.html">Lorem ipsum dolor sit amet</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget_socials">
                            <h5 class="widget_title">Follow Us</h5>
                            <div class="widget_inner">
                                <div class="sc_socials sc_socials_size_small">
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_twitter"></a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_pinterest"></a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_gplus"></a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_facebook"></a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2017 All Rights Reserved.
                        <a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
  

    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/comp/comp_front.min.js'></script>
    <script type='text/javascript' src='js/vendor/grid.js'></script>

</body>

</html>