@page
@model LaUnionCCPJ3.Pages.Single_TopicModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Business Growth: Sed vel tempus libero. &#8211; Alliance</title>
    <link rel='stylesheet' href='js/vendor/bp/bbpress.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/tocstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_buttonstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_manage_subs_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bps_whats_new_page_style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/cptstyle.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/buddypress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
</head>

<body class="topic bbpress single single-topic body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">

    <div class="body_wrap">
            <div class="page_top_wrap page_top_title page_top_breadcrumbs">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <a class="breadcrumbs_item all" href="forums.html">Forums</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <a class="breadcrumbs_item cat_post" href="post-formats.html">Company news</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <span class="breadcrumbs_item current">Business Growth: Sed vel tempus libero.</span>
                    </div>
                    <h5 class="page_title">
                        <span class="page_icon icon-13"></span>Business Growth: Sed vel tempus libero.
                    </h5>
                </div>
            </div>
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard topic type-topic hentry">
                            <h2 class="post_title entry-title">Business Growth: Sed vel tempus libero.</h2>
                            <section class="post_content">
                                <div class="sc_reviews alignright">
                                </div>
                                <div id="bbpress-forums">
                                    <div class="bbp-breadcrumb">
                                        <p>
                                            <a href="index.html" class="bbp-breadcrumb-home">Home Style 1</a>
                                            <span class="bbp-breadcrumb-sep">&rsaquo;</span>
                                            <a href="forums.html" class="bbp-breadcrumb-root">Forums</a>
                                            <span class="bbp-breadcrumb-sep">&rsaquo;</span>
                                            <a href="post-formats.html" class="bbp-breadcrumb-forum">Company news</a>
                                            <span class="bbp-breadcrumb-sep">&rsaquo;</span>
                                            <span class="bbp-breadcrumb-current">Business Growth: Sed vel tempus libero.</span>
                                        </p>
                                    </div>
                                    <div class="bbp-template-notice info">
                                        <p class="bbp-topic-description">
                                            This topic contains 8 replies, has 6 voices, and was last updated by
                                            <a href="activity.html" title="View Kate Dillon&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                <img src="//www.gravatar.com/avatar/ff6adb9ff9e489b5b57e794fd386ba6f?s=14&#038;r=g&#038;d=mm" class="avatar user-71-avatar avatar-14 photo" width="14" height="14" alt="" />
                                            </a>&nbsp;
                                            <a href="activity.html" title="View Kate Dillon&#039;s profile" class="bbp-author-name" rel="nofollow">Kate Dillon</a>
                                            <a href="single-topic.html#post-2167" title="Reply To: Business Growth: Sed vel tempus libero.">8 months ago</a>.
                                        </p>
                                    </div>
                                    <div class="bbp-pagination">
                                        <div class="bbp-pagination-count">
                                            Viewing 9 posts - 1 through 9 (of 9 total)
                                        </div>
                                        <div class="bbp-pagination-links">
                                        </div>
                                    </div>
                                    <ul id="topic-1247-replies" class="forums bbp-replies">
                                        <li class="bbp-header">
                                            <div class="bbp-reply-author">Author</div>
                                            <div class="bbp-reply-content">
                                                Posts
                                            </div>
                                        </li>
                                        <li class="bbp-body">
                                            <div class="bbp-reply-header">
                                                <div class="bbp-meta">
                                                    <span class="bbp-reply-post-date">June 9, 2015 at 2:52 pm</span>
                                                    <a href="single-topic.html#post-1247" class="bbp-reply-permalink">#1247</a>
                                                    <span class="bbp-admin-links"></span>
                                                </div>
                                            </div>
                                            <div class="odd bbp-parent-forum-854 bbp-parent-topic-1247 bbp-reply-position-1 user-id-1 topic-author post-1247 topic type-topic hentry">
                                                <div class="bbp-reply-author">
                                                    <a href="activity.html" title="View Kate Dillon (Development)&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                        <img src="images/2000x2000.png" class="avatar user-1-avatar avatar-80 photo" width="80" height="80" alt="" />
                                                    </a>
                                                    <br />
                                                    <a href="activity.html" title="View Kate Dillon (Development)&#039;s profile" class="bbp-author-name" rel="nofollow">Kate Dillon (Development)</a>
                                                    <br />
                                                    <div class="bbp-author-role">Keymaster</div>
                                                </div>
                                                <div class="bbp-reply-content">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bbp-reply-header">
                                                <div class="bbp-meta">
                                                    <span class="bbp-reply-post-date">June 10, 2015 at 8:23 am</span>
                                                    <a href="single-topic.html#post-1250" class="bbp-reply-permalink">#1250</a>
                                                    <span class="bbp-admin-links"></span>
                                                </div>
                                            </div>
                                            <div class="even bbp-parent-forum-854 bbp-parent-topic-1247 bbp-reply-position-2 user-id-3 post-1250 reply type-reply hentry">
                                                <div class="bbp-reply-author">
                                                    <a href="activity.html" title="View Jack Sparrow (Accounting)&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                        <img src="images/2000x2000.png" class="avatar user-3-avatar avatar-80 photo" width="80" height="80" alt="" />
                                                    </a>
                                                    <br />
                                                    <a href="activity.html" title="View Jack Sparrow (Accounting)&#039;s profile" class="bbp-author-name" rel="nofollow">Jack Sparrow (Accounting)</a>
                                                    <br />
                                                    <div class="bbp-author-role">Participant</div>
                                                </div>
                                                <div class="bbp-reply-content">
                                                    <blockquote>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        </p>
                                                    </blockquote>
                                                    <p>
                                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bbp-reply-header">
                                                <div class="bbp-meta">
                                                    <span class="bbp-reply-post-date">June 10, 2015 at 8:25 am</span>
                                                    <a href="single-topic.html#post-1251" class="bbp-reply-permalink">#1251</a>
                                                    <span class="bbp-admin-links"></span>
                                                </div>
                                            </div>
                                            <div class="odd bbp-parent-forum-854 bbp-parent-topic-1247 bbp-reply-position-3 user-id-4 post-1251 reply type-reply hentry">
                                                <div class="bbp-reply-author">
                                                    <a href="activity.html" title="View Alice Smith (Marketing)&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                        <img src="images/2000x2000.png" class="avatar user-4-avatar avatar-80 photo" width="80" height="80" alt="" />
                                                    </a>
                                                    <br />
                                                    <a href="activity.html" title="View Alice Smith (Marketing)&#039;s profile" class="bbp-author-name" rel="nofollow">Alice Smith (Marketing)</a>
                                                    <br />
                                                    <div class="bbp-author-role">Participant</div>
                                                </div>
                                                <div class="bbp-reply-content">
                                                    <p>Nemo enim ipsam voluptatem quia voluptas:</p>
                                                    <ul>
                                                        <li>sit aspernatur aut odit aut fugit</li>
                                                        <li>sed quia consequuntur magni dolores eos qui ratione</li>
                                                        <li>voluptatem sequi nesciunt</li>
                                                    </ul>
                                                    <p>
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem??
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bbp-reply-header">
                                                <div class="bbp-meta">
                                                    <span class="bbp-reply-post-date">June 10, 2015 at 8:27 am</span>
                                                    <a href="single-topic.html#post-1253" class="bbp-reply-permalink">#1253</a>
                                                    <span class="bbp-admin-links"></span>
                                                </div>
                                            </div>
                                            <div class="even bbp-parent-forum-854 bbp-parent-topic-1247 bbp-reply-position-4 user-id-1 topic-author post-1253 reply type-reply hentry">
                                                <div class="bbp-reply-author">
                                                    <a href="activity.html" title="View Kate Dillon (Development)&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                        <img src="images/2000x2000.png" class="avatar user-1-avatar avatar-80 photo" width="80" height="80" alt="" />
                                                    </a>
                                                    <br />
                                                    <a href="activity.html" title="View Kate Dillon (Development)&#039;s profile" class="bbp-author-name" rel="nofollow">Kate Dillon (Development)</a>
                                                    <br />
                                                    <div class="bbp-author-role">Keymaster</div>
                                                </div>
                                                <div class="bbp-reply-content">
                                                    <blockquote>
                                                        <p>sed quia consequuntur magni dolores eos qui ratione</p>
                                                    </blockquote>
                                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                                </div>
                                            </div>
                                            <div class="bbp-reply-header">
                                                <div class="bbp-meta">
                                                    <span class="bbp-reply-post-date">June 10, 2015 at 12:56 pm</span>
                                                    <a href="single-topic.html#post-1278" class="bbp-reply-permalink">#1278</a>
                                                    <span class="bbp-admin-links"></span>
                                                </div>
                                            </div>
                                            <div class="odd bbp-parent-forum-854 bbp-parent-topic-1247 bbp-reply-position-5 user-id-5 post-1278 reply type-reply hentry">
                                                <div class="bbp-reply-author">
                                                    <img src="//www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=80&#038;r=g&#038;d=mm" class="avatar user-5-avatar avatar-80 photo" width="80" height="80" alt="" />
                                                    <br />Anonymous
                                                </div>
                                                <div class="bbp-reply-content">
                                                    <p>Hallo, thanks for the very deep insight into the problem. I have subscribed to your blog and will read it time after time. Drop me a line, we could discuss it together!</p>
                                                </div>
                                            </div>
                                            <div class="bbp-reply-header">
                                                <div class="bbp-meta">
                                                    <span class="bbp-reply-post-date">January 4, 2016 at 12:56 am</span>
                                                    <a href="single-topic.html#post-2025" class="bbp-reply-permalink">#2025</a>
                                                    <span class="bbp-admin-links"></span>
                                                </div>
                                            </div>
                                            <div class="even bbp-parent-forum-854 bbp-parent-topic-1247 bbp-reply-position-6 user-id-7 post-2025 reply type-reply hentry">
                                                <div class="bbp-reply-author">
                                                    <a href="activity.html" title="View Mary Fisher&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                        <img src="images/2000x2000.png" class="avatar user-7-avatar avatar-80 photo" width="80" height="80" alt="" />
                                                    </a>
                                                    <br />
                                                    <a href="activity.html" title="View Mary Fisher&#039;s profile" class="bbp-author-name" rel="nofollow">Mary Fisher</a>
                                                    <br />
                                                    <div class="bbp-author-role">Participant</div>
                                                </div>
                                                <div class="bbp-reply-content">
                                                    <p>kjkjk</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="bbp-footer">
                                            <div class="bbp-reply-author">Author</div>
                                            <div class="bbp-reply-content">Posts</div>
                                        </li>
                                    </ul>
                                    <div class="bbp-pagination">
                                        <div class="bbp-pagination-count">Viewing 9 posts - 1 through 9 (of 9 total)</div>
                                        <div class="bbp-pagination-links"></div>
                                    </div>
                                    <div id="no-reply-1247" class="bbp-no-reply">
                                        <div class="bbp-template-notice">
                                            <p>You must be logged in to reply to this topic.</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2017 All Rights Reserved.
                        <a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>


    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/vendor/bp/confirm.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/widget-members.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-query.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-cookie.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/jquery-scroll-to.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/buddypress.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/bps_button.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/editor.js'></script>
    <script type='text/javascript' src='js/vendor/bp/topic.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.reviews.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>

</body>

</html>