@page
@model LaUnionCCPJ3.Pages.VacanciesModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Vacantes &#8211; Alliance</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
</head>

<body class="page body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">
    <div class="body_wrap">
            <div class="page_top_wrap page_top_title page_top_breadcrumbs">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Inicio</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <span class="breadcrumbs_item current">Vacantes</span>
                    </div>
                    <h5 class="page_title">
                        <span class="page_icon icon-21"></span>Vacantes
                    </h5>
                </div>
            </div>
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard page hentry">
                            <section class="post_content">
                                <div class="sc_reviews alignright">
                                </div>
                                <div class="sc_section bg2">
                                    <div class="sc_section_overlay pd40">
                                        <div class="sc_section_content">
                                            <form method="POST" class="jobs_search_form" action="">
                                                <input type="text" class="jobs_search_field" placeholder="Ubicacion" value="" name="location">
                                                <select class="jobs_categories_filter" name="category">
                                                    <option value="">Categoria</option>
                                                    <option value="Administration">Administracion</option>
                                                    <option value="Design">Diseño</option>
                                                    <option value="Finance and Accounting">Contabilidad y Finanza</option>
                                                    <option value="Media">Media</option>
                                                    <option value="Technology">Tecnologia</option>
                                                </select>
                                                <input type="submit" value="Search" class="jobs_search_submit">
                                            </form>
                                            <div class="sc_table recent_jobs">
                                                <table summary="1" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="5">Vacantes Recientes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Nombre</td>
                                                            <td>Categoria</td>
                                                            <td>Ubicacion</td>
                                                            <td>Tipo</td>
                                                            <td>Salario</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Diseñador Grafico</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Media</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">La Union</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <span class="bg7">Medio Tiempo</span>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Senior Dev</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Tecnologia</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">San Diego</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <span class="bg8">Tiempo Completo</span>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Diseño Arquitectonico</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Diseño</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">Concepcion</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <span class="bg8">Tiempo Completo</span>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Contador</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Contabilidad y Finanza</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">La Union</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <span class="bg7">Medio Tiempo</span>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Administrador de ventas</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Administracion</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">San Diego</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <div class="col-md-12"><span class="bg9">Freelance</span> </div>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Contador</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Contabilidad y Finanza</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">San Rafael</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <span class="bg8">Tiempo Completo</span>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Director Audiovisual</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Media</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">La Union</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <span class="bg8">Timepo Completo</span>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Nombre">
                                                                <a href="single-post.html">Administrador</a>
                                                            <td class="categories">
                                                                <a href="single-post.html">
                                                                    <span class="post_category">Administracion</span>
                                                                </a>
                                                            </td>
                                                            <td class="location">
                                                                <a href="single-post.html">San Rafael</a>
                                                            </td>
                                                            <td class="employment">
                                                                <a href="single-post.html">
                                                                    <span class="bg7">Medio Tiempo</span>
                                                                </a>
                                                            </td>
                                                            <td class="salary">
                                                                <a href="single-post.html">Confidencial</a>
                                                            </td>
                                                        </tr>
                                                        
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2017 All Rights Reserved.
                        <a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
  

    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>

</body>

</html>