<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaUnionCCPJ3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/comp/comp.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/flipclock.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/swiper/idangerous.swiper.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
</head>

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Alliance &#8211; Just another HTML Template</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/comp/comp.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/flipclock.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/swiper/idangerous.swiper.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
</head>

<body class="home-page home page body_style_fullwide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">
    <div class="body_wrap">
        <div class="page_wrap">
            <header class="top_panel_wrap">
                <div class="menu_user_wrap">
                    <div class="logo">
                        <a href="index">
                            <img src="images/Logo.png" class="logo_main" alt="" content="center">
                        </a>
                    </div>
                    <div class="menu_user_area menu_user_right menu_user_nav_area m_top">
                        <ul id="menu_user" class="menu_user_nav">
                            <li class="menu_user_register">
                                <a href="#popup_registration" class="popup_link popup_register_link">Registrarse</a>
                                <div id="popup_registration" class="popup_wrap popup_registration bg_tint_light">
                                    <a href="#" class="popup_close"></a>
                                    <div class="form_wrap">
                                        <form name="registration_form" method="post" class="popup_form registration_form">
                                            <input type="hidden" name="redirect_to" value="index" />
                                            <div class="form_left">
                                                <div class="popup_form_field login_field iconed_field">
                                                    <input type="text" id="registration_username" name="registration_username" value="" placeholder="Nombre de Usuario">
                                                </div>
                                                <div class="popup_form_field email_field iconed_field">
                                                    <input type="text" id="registration_email" name="registration_email" value="" placeholder="Correo Electronico">
                                                </div>
                                                <div class="popup_form_field agree_field">
                                                    <input type="checkbox" value="agree" id="registration_agree" name="registration_agree">
                                                    <label for="registration_agree">De acuerdo con los</label>
                                                    <a href="#">Terminos  &amp; Condiciones</a>
                                                </div>
                                                <div class="popup_form_field submit_field">
                                                    <input type="submit" class="submit_button" value="Registrame">
                                                </div>
                                            </div>
                                            <div class="form_right">
                                                <div class="popup_form_field password_field iconed_field">
                                                    <input type="password" id="registration_pwd" name="registration_pwd" value="" placeholder="Contraseña">
                                                </div>
                                                <div class="popup_form_field password_field iconed_field">
                                                    <input type="password" id="registration_pwd2" name="registration_pwd2" value="" placeholder="Confirmar Contraseña">
                                                </div>
                                                <div class="popup_form_field description_field">Contraseña minimo de 6 caracteres</div>
                                            </div>
                                        </form>
                                        <div class="result message_block"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu_user_login">
                                <a href="#popup_login" class="popup_link popup_login_link">Iniciar Sesion</a>
                                <div id="popup_login" class="popup_wrap popup_login bg_tint_light popup_half">
                                    <a href="#" class="popup_close"></a>
                                    <div class="form_wrap">
                                        <div>
                                            <form action="#" method="post" name="login_form" class="popup_form login_form">
                                                <input type="hidden" name="redirect_to" value="#">
                                                <div class="popup_form_field login_field iconed_field icon-user-2">
                                                    <input type="text" id="log" name="log" value="" placeholder="Correo Electronico">
                                                </div>
                                                <div class="popup_form_field password_field iconed_field icon-lock-1">
                                                    <input type="password" id="password" name="pwd" value="" placeholder="Contraseña">
                                                </div>
                                                <div class="popup_form_field remember_field">
                                                    <a href="#" class="forgot_password">Olvide mi Contraseña</a>
                                                    <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                                    <label for="rememberme">Recuerdame</label>
                                                </div>
                                                <div class="popup_form_field submit_field">
                                                    <input type="submit" class="submit_button" value="Iniciar Sesion">
                                                </div>
                                                <div class="result message_block"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="search_wrap search_style_regular search_ajax" title="Open/close search form">
                            <a href="#" class="search_icon icon-23"></a>
                            <div class="search_form_wrap">
                                <form role="search" method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-23" title="Start search"></button>
                                    <input type="text" class="search_field" placeholder="" value="" name="s" title="" />
                                </form>
                            </div>
                            <div class="search_results widget_area bg_tint_light">
                                <a class="search_results_close icon-cancel"></a>
                                <div class="search_results_content"></div>
                            </div>
                        </div>
                        <div class="menu_button show_menu"> Menu</div>
                    </div>
                </div>
            </header>
            <div>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <aside class="menu_main_wrap">
                <nav role="navigation" class="menu_main_nav_area">
                    <ul id="menu_main" class="menu_main_nav">
                        <li class="icon-3 menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
                            <a>Inicio</a>
                            @*<ul class="sub-menu">
                <li class="menu-item current-menu-item">  <a asp-page="index" title="Manage">Estilo 1</a></li>
                <li class="menu-item"><a href="home-2">Estilo 2</a></li>
                <li class="menu-item"><a href="home-3">Estilo 3</a></li>
            </ul>*@
                        </li>
                        <!--<li class="icon-22 menu-item menu-item-has-children">
    <a>Esquema de Colores</a>-->
                        <!--<ul class="sub-menu">-->
                        <!--<li class="menu-item"><a href="scheme-1">Esquema de Colores 1</a></li>
    <li class="menu-item"><a href="scheme-2">Esquema de Colores 2</a></li>
    <li class="menu-item"><a href="scheme-3">Esquema de Colores 3</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <li class="icon-5 menu-item menu-item-has-children">
                            <a>Acerca de</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="ceo">Presidente del comité</a></li>
                                @*<li class="menu-item"><a href="leaders">Delegados</a></li>*@
                                <li class="menu-item"><a href="team">Departamentos</a></li>
                            </ul>
                        </li>
                        <li class="icon-5 menu-item menu-item-has-children">
                            <a href="Post-Formats">Podcast</a>
                        </li>
                        <li class="icon-17 menu-item menu-item-has-children">
                            <a>Educación</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="trainings">Tutores</a></li>
                                <!--li class="menu-item"><a href="tests.html">Tests and Quizzes</a></!--li>-->
                                <li class="menu-item"><a href="tutorials">Tutoriales</a></li>
                            </ul>
                        </li>
                        <li class="icon-21 menu-item menu-item-has-children">
                            <a>Bolsa de empleo</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="vacancies">Vacantes</a></li>
                                <li class="menu-item"><a href="resumes">Ejemplos de hoja de vida</a></li>
                            </ul>
                        </li>
                        <li class="icon-8 menu-item menu-item-has-children">
                            <a>Comunidad</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="forums">Foros</a></li>
                                <li class="menu-item"><a href="single-topic">Ejemplo 1</a></li>
                            </ul>
                        </li>
                        <li class="icon-2 menu-item menu-item-has-children">
                            <a>Proyectos del comité</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="activity">Actividad</a></li>
                                <li class="menu-item"><a href="groups">Grupos</a></li>
                                <li class="menu-item"><a href="members">Miembros</a></li>
                            </ul>
                        </li>
                        <!--<li class="icon-9 menu-item menu-item-has-children"><a>File Storage</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="development.html">Development</a></li>
            <li class="menu-item"><a href="marketing.html">Marketing</a></li>
            <li class="menu-item"><a href="accounting.html">Accounting</a></li>
            <li class="menu-item"><a href="resources.html">Human Resources</a></li>
            <li class="menu-item"><a href="supporter.html">Support</a></li>
        </ul>
    </li>-->
                        <li class="icon-10 menu-item menu-item-has-children">
                            <a>Galería de fotos</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="events">Eventos</a></li>
                                <!--<li class="menu-item"><a href="masonry.html">Masonry Gallery</a></,li>-->
                            </ul>
                        </li>
                        <!--
    <li class="icon-13 menu-item menu-item-has-children"><a>Theme Elements</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
            <li class="menu-item"><a href="typography.html">Typography</a></li>
            <li class="menu-item"><a href="infographic.html">Infographic</a></li>
            <li class="menu-item menu-item-has-children"><a>Pages</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="single-post.html">Blog Post</a></li>
                    <li class="menu-item"><a href="single-event.html">Event Page</a></li>
                    <li class="menu-item"><a href="single-training.html">Training Page</a></li>
                    <li class="menu-item"><a href="single-test.html">Quiz Page</a></li>
                    <li class="menu-item"><a href="single-team.html">Team Member</a></li>
                    <li class="menu-item"><a href="about.html">About Company</a></li>
                    <li class="menu-item"><a href="contacts.html">Contacts</a></li>
                    <li class="menu-item"><a href="support.html">Support</a></li>
                    <li class="menu-item"><a href="faq.html">FAQ</a></li>
                </ul>
            </li>
        </ul>
    </li>-->
                    </ul>
                </nav>
            </aside>

            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
    </div>

    <div class="custom_html_section"></div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/custom/date.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/poll.js'></script>
    <script type='text/javascript' src='js/custom/poll-init.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/comp/comp_front.min.js'></script>
    <script type='text/javascript' src='js/vendor/grid.js'></script>
    <script type='text/javascript' src='js/vendor/flipclock.js'></script>
    <script type='text/javascript' src='js/vendor/jquery.flatshadow.js'></script>
    <script type='text/javascript' src='js/vendor/isotope/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='js/vendor/swiper/idangerous.swiper-2.7.min.js'></script>
    <script type='text/javascript' src='js/vendor/swiper/idangerous.swiper.scrollbar-2.4.min.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chart.min.js'></script>
    <script type='text/javascript' src='js/vendor/chart/Graph.js'></script>

</body>
</html>
